doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Job Scraper
		link(rel='stylesheet', href='css/style.css')
	body
		header
			h1 Job Scraper
			form.restify(method='GET',action='/api/scrape',success='callback,showJobs')
				label Enter Keywords:
				input(type='text',name='q')
				select.form-control(name='site')
					option(value='jobs.bg',selected='selected') Jobs.bg
					option(value='jobtiger.bg') JobTiger.bg
					option(value='weworkremotely.com') WeWorkRemotely.com
				button(type='submit')
					i.fa.fa-search
					| Search
		section#content
			ul#jobs-listing
		//- load the app
		script(src="js/app.js")
