doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title.
			Job Scraper
		link(rel='stylesheet', href='css/bootstrap.min.css')
		link(rel='stylesheet', href='css/style.css')
	body

		header.container
			h1 Job Scraper


		section.container
			block content


		footer.container
			| Job Scraper 2016

		// app
		script(type='text/javascript', src='/js/app.js')

		block scripts
