
extends layout

block content

	.row: .col-xs-12
		form.restify.form-inline(role='form',method='GET',action='/scrape',success='callback,showJobs')
			label Enter Keywords: &nbsp;
			input.form-control(type='text',name='q')
			| &nbsp;
			select.form-control(name='site')
				option(value='jobs.bg',selected='selected') Jobs.bg
				option(value='jobtiger.bg') JobTiger.bg
				option(value='weworkremotely.com') WeWorkRemotely.com
			button.btn.btn-primary(type='submit') Search 
	hr
	.row: .col-xs-12: ul#jobsListing.list-group

	
