
extends layout

block content

	.row: .col-xs-12
		form.restify.form-inline(role='form',method='GET',action='/scrape',success='callback,showJobs')
			label Enter Keywords: &nbsp;
			input.form-control(type='text',name='q')
			| &nbsp;
			button.btn.btn-primary(type='submit') Search 
	.row: .col-xs-12: ul#jobsListing.list-group

	
