doctype html
html(lang="en")
	head
		title. 
			Job Scraper
			
		link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/lib/fontawesome/css/font-awesome.css')
	body
		
		header.container
			h1 Job Scraper

		
		section.container
			block content
			
		
		footer
			| Job Scraper 2014
	
		script(type='text/javascript', src='/lib/jquery/dist/jquery.js')
		script(type='text/javascript', src='/lib/lodash/dist/lodash.js')

		block scripts